<div class="container">
  <h1>プロジェクト一覧</h1>
  <div class="contents">
    <% @projects.each do |project| %>
      <div class="contents-wrap">
        <%= link_to "#{project.project}", project_path(project), class: 'project-title' %>
        
        <div class="contents-tasks">
          <% project.tasks.each do |task| %>
            <div class="task-link">
              <%= link_to "#{task.task}", project_task_path(task.project, task), class: 'task-title' %>
              <span><%= task.date %></span>
              <span><%= task.time %></span>
            </div>
            <div class="task-menu">
              <%= link_to "編集", edit_project_task_path(task.project, task) %>
              <%= link_to "削除", project_task_path(task.project, task), method: :delete %>              
            </div>
          <% end %>    
        </div>
        
        <%#= link_to "タスクを追加する", new_project_task_path(project.id), class: 'new-task' %>
<h1>Tasks#new</h1>
<div class="task-form">
    
	<%= form_with model: [project, @task], local: true, id: "new-task" do |f| %>
	  <%#= f.hidden_field :project_id, :value => @project.id %>
	  <%= f.text_field :task, placeholder: "タスク名", class: "taskbox" %><br>
	  <%= f.text_area :text, placeholder: "タスクの詳細", rows: "2", class: "textbox" %><br>
		<%= f.datetime_field :deadline, class: "datebox" %><br>
		<%= f.time_field :deadline_time, class: "timebox" %><br>
	  <%= f.submit "POST", class: "form-submit" %>
	<% end %>
</div>
<%#= render partial: 'common/project_path', locals: { project: @project } %>
      </div>
      
    <% end %>    
  </div>
</div>
