<div class="container">
  <h1>プロジェクト一覧</h1>
  <div class="projects">
    <% @projects.each do |project| %>
      <div class="project-wrap">
        <h3 class="project-title"><%= project.project %></h3>
        
        <div class="project-tasks">
          <% project.tasks.each do |task| %>
            <div class="task-wrap text-color">
              <div class="task-link text-color">
                <%= link_to "#{task.task}", project_task_path(task.project, task), class: 'task-title' %>
                <% if task.deadline.present? %>
                  <span><%= task.deadline.strftime("%m月%d日") %></span>
                <% end %>
                <% if task.deadline_time.present? %>
                  <span><%= task.deadline_time.strftime("%H:%M") %></span>
                <% end %>
              </div>
              
              <div class="task-menu text-color">
                <%= link_to "編集", edit_project_task_path(task.project, task), class: "button edit-button" %>
                <%= link_to "削除", project_task_path(task.project, task), method: :delete, class: "button destroy-button" %>              
              </div>
            </div>
          <% end %>    
        </div>
        
        <div class="appear-window", id="appear-window">
          <button class="appear-button">＋タスクを追加する</button>
        </div>
        <%#= link_to "タスクを追加する", new_project_task_path(project.id), class: 'new-task' %>
        <div class="task-form", id="task-form">
        	<%= form_with model: [project, @task], local: true, id: "new-task", class: "new-task-form" do |f| %>
        	  <%#= f.hidden_field :project_id, :value => @project.id %>
        	  <%= f.text_field :task, placeholder: "タスク名", class: "box taskbox" %><br>
        	  <%= f.text_area :text, placeholder: "タスクの詳細", rows: "2", class: "box textbox" %><br>
        		<%= f.date_field :deadline, class: "box datebox" %><br>
        		<%= f.time_field :deadline_time, class: "box timebox" %><br>
        	  <%= f.submit "タスクを追加", class: "form-submit" %>
        	  <span class="hide-window">❎</span>
        	<% end %>
        </div>
<%#= render partial: 'common/project_path', locals: { project: @project } %>
      </div>
      
    <% end %>    
  </div>
</div>
