<div class="container">
  <div class="projects">
    <% @projects.each do |project| %>
      <div class="project-wrap" data-project-id="<%= project.id %>">
        <div class="title-archive">
          <h3 class="project-title"><%= project.project %></h3>
          <%= link_to project_path(project.id), method: :delete, class: "archive-icon", data: { confirm: '削除してもよろしいですか？'}, title: 'ToDoの削除' do %>
            <span>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span class="archive-message">プロジェクトを削除します</span>
            </span>
          <% end %>
        </div>

        <div class="project-tasks">
          <% project.tasks.each do |task| %>
            <div class="task-wrap text-color" data-task-id="<%= task.id %>">
              <% if task.task.present? %>
                <div class="task-link text-color">
                 
                  <%= best_in_place task, :task, :as => :input, :path => project_task_path(task.project, task), :classes  => 'unedit' %>
                  <%= best_in_place_if task.deadline.present?, task, :deadline, :as => :date, :path => project_task_path(task.project, task), :classes => 'date-picker' %>
                  <%= best_in_place_if task.deadline_time.present?, task, :deadline_time, :as => :time, :path => project_task_path(task.project, task) %>
                  
                  <% if task.deadline.present? %>
                    <span id="#modal-deadline-<%= task.id %>"><%= task.deadline.strftime("%m月%d日") %></span>
                  <% end %>
                  <% if task.deadline_time.present? %>
                    <span id="#modal-deadline-time-<%= task.id %>"><%= task.deadline_time.strftime("%H:%M") %></span>
                  <% end %>
                  
                <% end %>
              </div>
              
              <div class="task-menu text-color" data-task="-<%= task.id %>">
                <%#= link_to project_task_path(task.project, task), method: :delete, class: "button destroy-button", remote: true, data: { confirm: '削除してもよろしいですか？'} do %>              
                  <span  class="js-destroy-task-button">
                    <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    <span class="delete-todo-message">ToDoを削除します</span>
                  </span>              
                <%# end %>
              </div>
            </div>
          <% end %>    
        </div>
        
        <div class="appear-window" id="appear-window">
          <button class="appear-button">＋タスクを追加する</button>

        <div class="task-form", id="task-form">
        	<%= form_with model: [project, @task], local: true, id: "new-task", class: "new-task-form" do |f| %>
        	  <%= f.text_field :task, placeholder: "タスク名", class: "box taskbox" %><br>
        	  <%= f.text_area :text, placeholder: "タスクの詳細", rows: "2", class: "box textbox" %><br>
        		<%= f.date_field :deadline, class: "box datebox" %><br>
        		<%= f.time_field :deadline_time, class: "box timebox" %><br>
        	  <%= f.submit "タスクを追加", class: "form-submit" %>
        	  <span class="hide-window">❎</span>
　        	<% end %>
        </div>
      </div>
      </div>
    <% end %>
    
    <div class="dammy">
      
    </div>
    
      <div class="new-project-form">
        <div class="appear-add-project-button">
          <button class="add-project-button">＋プロジェクトを追加する</button>
        </div>
      
      
        <div class="project-form", id="project-form">
        	<%= form_with model: @project, local: true, id: "new-project", class: "new-project-form" do |f| %>
        	  <%= f.text_field :project, placeholder: "プロジェクト名", class: "box projectbox" %><br>
        	  <%= f.submit "プロジェクトを追加", class: "form-submit" %>
        	  <span class="hide-project-form">❎</span>
    　     <% end %>
        </div>
    </div>
    
  </div>
</div>

